Non-Normative Resources/Easier Guide to the eCVI Standard 3_1.docx
.venv/
bulletproof_output-backup.docx
convert_textbox.py
EasierGuide-3.1.docx
inplace_replacement.docx
log.txt
output1.md
pre-process-anchors.py
Non-Normative resources/README.md
Non-Normative resources/EasierGuide-3.1d.md
Non-Normative resources/EasierGuide-3.1.0.md
Non-Normative resources/my.xml
Non-Normative resources/EasierGuide-3.1.1 copy.md
Non-Normative resources/PremIDCheckSum.java
